.header{
    background-color: #696969;
    width: 100%;
    min-height: 67px;
    left: 0;
    top: 0;
    padding: 5px 50px 5px 50px;
}

.links{ 
    display: flex;
    /* margin: 10px 0px 50px  */
}