.slider{
    background: url(https://cdn.mos.cms.futurecdn.net/Tmr5QSQ5TsMHNLfjAa5Z9U-1024-80.jpeg.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 13px;
    transition: 0.3s;
    display: block;
}

.slider-content{
    padding: 20px;
    top:0px;
    left:0px;
    width: calc(36% + 1px);
    height: 410px;
    background-color: #333333;
    background: rgba(7, 7, 7, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    z-index: 5;
}

h1{
    color: rgba(255, 255, 255);
    z-index: 1000;
}

.slider:hover{
    filter: blur(2px);
    transition: 0.3s;
}