.slider{
    /* background: url(https://cdn.mos.cms.futurecdn.net/Tmr5QSQ5TsMHNLfjAa5Z9U-1024-80.jpeg.webp);  */
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
    min-width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    height: 55%;
    min-height: 450px;
    border-radius: 13px;
    transition: 0.3s;
    display: block;
}

.slider-blur{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(to right, #000000, #00000011);
    transition: 0.3s;
}

.slider img{
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    filter: blur(2px);
}
.slider img:hover{
    filter: blur(0);
    transition: 0.3s;
}

.text-place{
    position: absolute;
    left: 40px;
    top: 100px;
    font-size: 45px;
    color:#ffffff;
    width: 400px;
}


.slider-content{
    padding: 20px;
    top:0px;
    left:0px;
    width: calc(36% + 1px);
    height: 410px;
    background-color: #333333;
    background: rgba(7, 7, 7, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    z-index: 5;
}

h1{
    color: rgba(255, 255, 255);
    z-index: 1000;
}

.block-holder{
    position:relative;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    margin: 0px -20px;
}

.blocks{
    position:relative;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 30%;
    max-width: 560px;
    min-width: 250px;
    margin: 20px;
    overflow: hidden;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.blocks:hover{
    transition: 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.45);
    transform: scale(1.05);
}

.movies{
    display: flex;
    align-content: space-between;  
    flex-wrap: wrap;
    justify-content:center;
}

.movies img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.blur{
    position: absolute;
    width: 120%;
    top: 100px;
    left: -25px;
    bottom: -25px;
    filter: blur(25px);
    background-color: #000000;
}
.line{
    background-color: #888888;
    width: 100%;
    height: 1px;
}

.blur-text{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    left:0px;
    bottom:10px;
    top: 100px;
}
.blur-text h3{
    margin-top: 5px;
    color:#ffffff;
    font-weight: 600;
}


.header-text{
    margin-top: 50px;
    margin-left: 100px;
}