.slider{
    /* url(https://cdn.mos.cms.futurecdn.net/Tmr5QSQ5TsMHNLfjAa5Z9U-1024-80.jpeg.webp); */
    background: #bbbbbb; 
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    width: 100%;
    min-width: 1000px;
    margin: 0px auto;
    height: 55%;
    min-height: 450px;
    border-radius: 13px;
    transition: 0.3s;
    display: block;
}

.slider-content{
    padding: 20px;
    top:0px;
    left:0px;
    width: calc(36% + 1px);
    height: 410px;
    background-color: #333333;
    background: rgba(7, 7, 7, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    z-index: 5;
}

h1{
    color: rgba(255, 255, 255);
    z-index: 1000;
}

.slider:hover{
    filter: blur(2px);
    transition: 0.3s;
}

.block-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px -20px;
}

.blocks{
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 30%;
    max-width: 560px;
    min-width: 280px;
    margin: 20px;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.blocks:hover{
    transition: 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.45);
}

.movies{
    display: flex;
    align-content: space-between;  
    flex-wrap: wrap;
    justify-content:center;
}
