.slider{
    /* background: url(https://cdn.mos.cms.futurecdn.net/Tmr5QSQ5TsMHNLfjAa5Z9U-1024-80.jpeg.webp);  */
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
    min-width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    height: 55%;
    min-height: 450px;
    border-radius: 13px;
    transition: 0.3s;
    display: block;
}

.slider img{
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    filter: blur(2px);
}
.slider img:hover{
    filter: blur(0);
    transition: 0.3s;
}

.text-place{
    position: absolute;
    left: 40px;
    top: 100px;
    font-size: 45px;
    color:#ffffff;
    width: 400px;
}


.slider-content{
    padding: 20px;
    top:0px;
    left:0px;
    width: calc(36% + 1px);
    height: 410px;
    background-color: #333333;
    background: rgba(7, 7, 7, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    z-index: 5;
}

h1{
    color: rgba(255, 255, 255);
    z-index: 1000;
}

.block-holder{
    position:relative;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    margin: 0px -20px;
}

.blocks{
    position:relative;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 30%;
    max-width: 560px;
    min-width: 250px;
    margin: 20px;
    overflow: hidden;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.blocks:hover{
    transition: 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.45);
    transform: scale(1.05);
}

.movies{
    display: flex;
    align-content: space-between;  
    flex-wrap: wrap;
    justify-content:center;
}

.movies img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.blur{
    position: absolute;
    width: 120%;
    top: 100px;
    left: -25px;
    bottom: -25px;
    filter: blur(25px);
    background-color: #000000;
}
.line{
    background-color: #888888;
    width: 100%;
    height: 1px;
}

.blur-text{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    left:0px;
    bottom:10px;
    top: 100px;
}
.blur-text h3{
    margin-top: 5px;
    color:#ffffff;
    font-weight: 600;
}


.header-text{
    margin-top: 50px;
    margin-left: 100px;
}

.ads_sponsors div img{
	width:200px;
	height:150px;
}

* {box-sizing: border-box}
.mySlides {
    display: none;
    border-radius: 13px;
    overflow: hidden;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  /* height: 450px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 20px 0px;
  position: absolute;
  bottom: 8px;
  width: 40%;
  text-align: center;
  font-size: 36px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.poster{
    border-radius: 13px;
    overflow: hidden;
    height: 450px;
    object-fit: cover;
    width: 100%;
    transition: 0.3s ease;
}

.poster:hover{
    filter: blur(2px);
    transition: 0.3s ease;
}

.slider-blur{
    position: absolute;
    left: 20px;
    height: 120px;
    bottom: 20px;
    width: 40%;
    background: #000000e1;
    border-radius: 8px;
    transition: 0.3s;
}

