<div class="slideshow-container" *ngFor = "let movie of movies">
    <div class="mySlides fade" >
        <img [src]="movie.poster" class = "poster">
        <div class = "slider-blur"></div>
        <div class="text">
            {{movie.title}}
        </div>
    </div>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>

<h2 class = "header-text" *ngIf="movies.length != 0"> Top Movies </h2>
<div class = 'line'  *ngIf="movies.length != 0"> </div>
<div class = 'block-holder'> 
    <div class = 'blocks' *ngFor = "let movie of movies"> 
        <div class = 'movies' [routerLink]="['movies', movie.movies_id]">
            <img [src]="movie.poster" class = 'poster'>
            <div class = "blur"></div>
            <div class = 'blur-text'> 
                <h3> {{movie.title}} </h3>
            </div>
        </div> 
    </div>
</div>
<h2 class = "header-text" *ngIf="actors.length != 0"> Most viewed Actors </h2>
<div class = 'line' *ngIf="actors.length != 0"> </div>
<div class = 'block-holder'> 
    <div class = 'blocks' *ngFor = "let actor of actors"> 
        <div class = 'movies'>
            <img src ="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" class = 'poster'>
            <div class = "blur"></div>
            <div class = 'blur-text'> 
                <h3> {{actor.name}} </h3>
            </div>
        </div> 
    </div>
</div>