<div  class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="col-sm-4 bg-c-lite-green user-profile">
            <div class="card-block text-center text-white">
                <div class="m-b-25"> 
                    <img [src] = "userInfo.image">
                </div>
                <h2 class="f-w-600">{{userInfo.name}}</h2>
                <h3 *ngIf ="userInfo.is_superuser"> Admin </h3>
                <h3 *ngIf ="!userInfo.is_superuser"> User </h3>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card-block">
                <h2 class="info_panel line-devider">Information</h2>
                <div class="row">
                    <h4>Email:  {{userInfo.email}}</h4>
                    <h4 class="m-b-10 f-w-600">Name: {{userInfo.name}}</h4>
                    <h4 class="m-b-10 f-w-600">Surname: {{userInfo.surname}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf= "isLoged()" class = "enter" (click) = 'logout()'> Logout </div>
<div *ngIf = "!isLoged()" class = "enter" [routerLink] = '["/login"]'> Login </div>
<div *ngIf = "!isLoged()" class = "enter" [routerLink] = '["/sign-up"]'> Register </div> 