.forgot-pass{
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    transition:all 0.2s ease;
}

.create-acc{
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 0px;
    transition:all 0.2s ease;
}

.forgot-pass a,
.create-acc a{
    outline: none;
    text-decoration: none;
    color: black;
}
.forgot-pass:hover,
.create-acc:hover{
    transform: scale(1.1);
}

