.back{
    position:absolute;
    top: 30px;
    left: 50px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.589);
    box-shadow:1px 1px 40px 15px rgba(29, 108, 255, 0.3);
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.back svg{
    margin-top:20px;
}
.back:hover{
    box-shadow: 1px 1px 70px 50px rgba(29, 108, 255, 0.45);
    transition: 0.3s;
}

.form{
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    min-height: 200px;
    min-width: 280px; 
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    padding: 30px;
    transform: scale(1.02);
}

.form:hover{
    transition: 0.3s;
    box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.25);
}

.title{
    padding: 0px 50px;    
}

.login{
    min-width: 280px;
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
}

.mail{
    display: flex;
    flex-direction: column;
    position: relative;
}

.mail input{
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding-top: 25px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    font-weight:lighter;
}

.mail label{
    position:absolute;
    bottom: 0px;
    left:0%;
    color:#303030;
    width: 100%;
    height: 100%;
    pointer-events: none;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.content-name{
    position:absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
}

.mail input:focus + .label-mail .content-name,
.mail input:valid + .label-mail .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color:#4b4b4b;
}

.enter{
    width: 40%;
    min-width: 100px;
    height: 35px;
    /* padding: 0px; */
    border-radius: 10px;
    border: 1px solid #5c5c5c;
    background-color: none;
    text-align: center;
    margin: 12px auto;
}

.enter h3{
    padding: 0px;
    margin: 0px;
}

.enter:hover{
    cursor: pointer;
    background-color: #5c5c5c;
    border: 1px solid #303030;
    color:#ffffff;
}

.forgot-pass{
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    transition:all 0.3s ease;
}

.create-acc{
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 0px;
    transition:all 0.3s ease;
}

.forgot-pass a,
.create-acc a{
    outline: none;
    text-decoration: none;
    color: black;
}
.forgot-pass:hover,
.create-acc:hover{
    transform: scale(1.1);
}

