<h1> All Movies</h1>
<div claas= 'search'>
    <div class = 'login-sign-up-content'>
        <input name = "Email" type = 'text' autocomplete = 'off' required > 
        <label for = "Email" class = "label-mail">
            <span class = "content-name"> Search </span>
        </label>
    </div>
    <button class = 'search'> 
        <h3>Search</h3></button>
</div>
<div class = 'block-holder'>
    <div class = 'blocks' *ngFor = "let movie of movies" > 
        <div class = 'movies' routerLink="{{movie.movies_id}}">
            <img [src]="movie.poster" class = 'poster'>
            <div class = "blur"></div>
            <div class = 'blur-text'> 
                <h1> {{movie.title}} </h1>
            </div>
        </div> 
    </div>
</div>
