
.block-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 700px; */
    /* justify-content: space-between; */
    margin: 0px -20px;
}

.blocks{
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 300px;
    margin: 20px;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.blocks:hover{
    transition: 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.45);
}

.movies{
    display: flex;
    align-content: space-between;  
    flex-wrap: wrap;
    justify-content:center;
}
