.wishlist{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 3px 0px 23px #cccccc;
    padding: 30px;
}

.line{
    width: 100%;
    margin: 5px auto;
    background-color: #cccccc;
    height: 2px; 
}

.top-element{
    display: grid;
    grid-template-columns: 94% 6%;
    justify-content: start;
    align-items:center;
}

.back-btn{
    position: absolute;
    top: -50px;
    left: -100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.50);
    box-shadow:1px 1px 40px 15px rgba(29, 108, 255, 0.3);
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.back-btn svg{
    margin-top:20px;
}

.movie-wish{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #c7bda1c9;
    height: 100px;
    border-radius: 13px;
    overflow: hidden;
    margin-top: 10px;
}
.movie-image{
    position: absolute;
    height: 100%;
    left: 0px;
    width: 25%;
}
.movie-info{
    position: absolute;
    left: 27%;
    top: 0px;
    bottom: 10px;
    width: 40%;
}

.movie-rating{
    position: absolute;
    left: 89%;
    top: 10px;
    bottom: 10px;
}