.wishlist{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 3px 0px 23px #cccccc;
    padding: 30px;
}

.line{
    width: 100%;
    margin: 5px auto;
    background-color: #cccccc;
    height: 2px; 
}

.top-element{
    display: grid;
    grid-template-columns: 94% 6%;
    justify-content: start;
    align-items:center;
}