
.block-holder{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    margin: 0px -20px;
}

.blocks{
    background-color: #ffffff;
    width: 250px;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.blocks:hover{
    transition: 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.45);
}


.search{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #5c5c5c;
    text-align: center;
    margin: 12px auto;
    transition: 0.3s;
    background: transparent;
    outline: none;
}

.search:hover{
    cursor: pointer;
    background-color: #66AA4D;
    border: 1px solid #4a753a;
    color:#ffffff;
    transition: 0.3s;
}

.search h3{
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}