<div class = 'form'>
    <div class = 'title'>
        <h2> Sign in </h2> 
    </div>
    <form class = 'login'>
        <div class = 'mail'>
            <input name = "Email" type = 'text' autocomplete = 'off' required> 
            <label for = "Email" class = "label-mail">
                <span class = "content-name"> E-mail or username</span>
            </label>
        </div>
        <div class = 'mail'>
            <input name = "Email" type = 'password' autocomplete = 'off' required> 
            <label for = "Email" class = "label-mail">
                <span class = "content-name"> Password</span>
            </label> 
        </div>
    </form>
</div>