.header{
    background-color: none;
    width: 100%;
    left: 0;
    height: 110px;
    top: 0;
    padding: 5px 0px;
    display: flex;
}

.link{ 
  margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  list-style: none;
}

.user_block{
  position: relative;
  /* margin: 0 15px; */
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  justify-content: right;
}

.wishlist{
  width: 100px;
  height: 0px;
  background: #66AA4D;
  border-radius: 7px;
  text-align: center;
  display: table;
  color: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
}

.wishlist p{
  padding: 10px;
  margin: auto;
  font-size: 16px;
}

.wishlist:hover
.wishlist:focus{
  border: none;
  outline: none;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}

a{
    color: Black;
    padding: 5px 15px;
    text-decoration-line: none;
    font-size: 26px;
    transition: 0.2s;
}
  
a:hover{
    opacity: 0.75;
    transition: 0.2s;
    cursor: pointer;
}

.svg:hover{
  opacity: 0.75;
}