.header{
    background-color: #696969;
    width: 100%;
    min-height: 50px;
    left: 0;
    top: 0;
    padding: 5px 0px;
}

.link{ 
    padding: 5px 50px 5px 50px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 20%;
  }
  
  a{
    font-family: 'Economica', sans-serif;
    color: white;
    text-decoration-line: none;
    font-size: 18px;
    transition: 0.2s;
  }
  
  a:hover{
    font-family: 'Economica', sans-serif;
    opacity: 0.75;
    transition: 0.2s;
    cursor: pointer;
    font-size: 21px;
  }
  
  .icon{
    width: 50px;
    height:50px;
    border-radius: 50%;
  }
  .icon:hover{
    opacity: 0.75;
    cursor: pointer;
  }
  p{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding: 5px 10px;    
    color: #2B2420;
  }
  h1,
  h2,
  h3{
    font-family: 'Economica', sans-serif;
    font-size: 24px;    
    color: #2B2420;
  }
  
  h4{
    font-family: 'Economica', sans-serif;
    font-size: 18px;    
    color: #324149;
    margin-left: 20px;
  }
  
  a{
    padding: 10px;
  }
  