.header{
    background-color: none;
    width: 100%;
    left: 0;
    height: 110px;
    top: 0;
    padding: 5px 0px;
    display: flex;
}

.link{ 
  margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  list-style: none;
}

.user_block{
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  justify-content: right;
}

.user_block a{
  font-size: 18px;
  font-weight: 500;
}

.wishlist{
  width: 100px;
  background: #66AA4D;
  border-radius: 7px;
  text-align: center;
  display: table;
  color: #ffffff;
  outline: none;
  border: none;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
  outline: none;
}

.wishlist p{
  padding: 5px;
  margin: auto;
  font-size: 16px;
  outline: none;
}

.wishlist:hover{
  border: none;
  outline: none;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}

.icon-holder{
  width: 45px;
  height: 45px;
  max-width: 45px;
  max-height: 45px;
  min-width: 45px;
  overflow: hidden;
  min-height: 45px;
  border-radius: 50%;
  background-color: #ffb4b4;
}

a{
  font-weight: 600;
  color: Black;
  padding: 5px 15px;
  text-decoration-line: none;
  font-size: 26px;
  transition: 0.2s;
}
  
a:hover{
    opacity: 0.75;
    transition: 0.2s;
    cursor: pointer;
}

.svg:hover{
  opacity: 0.75;
}