/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px 200px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0px;
    width: calc(100%-400px);
    top: 0px;
    height:100vh;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(137.99% 178.52% at 107.15% -5.61%, rgba(255, 208, 208, 0.57) 10.47%, rgba(86, 114, 214, 0.27) 36.14%, rgba(233, 194, 234, 0.643106) 54.48%, rgba(255, 249, 117, 0.407644) 77.92%, rgba(196, 196, 196, 0) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* enter button in sign in and sign up */
.enter{
    width: 40%;
    min-width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #5c5c5c;
    text-align: center;
    margin: 12px auto;
    transition: 0.3s
}

.enter:hover{
    cursor: pointer;
    background-color: #5c5c5c;
    border: 1px solid #303030;
    color:#ffffff;
    transition: 0.3s
}

.enter h3{
    padding: 0px;
    margin: 0px;
}


/* back button sign in and sign up modules */
.back{
    position:absolute;
    top: -100px;
    left: -25%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 153, 0, 0.50);
    box-shadow:1px 1px 40px 15px rgba(29, 108, 255, 0.3);
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.back svg{
    margin-top:20px;
}
.back:hover{
    box-shadow: 1px 1px 70px 50px rgba(29, 108, 255, 0.45);
    transition: 0.3s;
}

/* input line styles in sign in and sign up modules */
.form{
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    min-height: 200px;
    min-width: 280px; 
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    padding: 30px;
    transform: scale(1.02);
}

.form:hover{
    transition: 0.3s;
    box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.25);
}

.title{
    padding: 0px 50px;    
}

.login{
    min-width: 280px;
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
}

.login-sign-up-content{
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-sign-up-content input{
    width: calc(100%-20px);
    height: 100%;
    font-size: 24px;
    padding-top: 25px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    outline: none;
    font-weight:lighter;
    background: transparent;
}

.login-sign-up-content label{
    position:absolute;
    bottom: 0px;
    left:0%;
    color:#303030;
    width: 100%;
    height: 100%;
    pointer-events: none;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.content-name{
    position:absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
}
/* Сдвиг текста */
.login-sign-up-content input:focus + .label-mail .content-name,
.login-sign-up-content input:valid + .label-mail .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color:#4b4b4b;
} 