/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px 200px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0px;
    width: calc(100%-400px);
    top: 0px;
    height:100vh;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(137.99% 178.52% at 107.15% -5.61%, rgba(255, 208, 208, 0.57) 10.47%, rgba(86, 114, 214, 0.27) 36.14%, rgba(233, 194, 234, 0.643106) 54.48%, rgba(255, 249, 117, 0.407644) 77.92%, rgba(196, 196, 196, 0) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

